section h3
{
    color: #a2a1a1;
}

blockquote
{
    border:1px solid #ccc;
    background:white;
    font-style:italic;
    font-size:16px;
    min-height:320px;
    margin-bottom: 50px;
}

blockquote img
{
    float:right;
}

blockquote p
{
    margin:17px 0px;
}