#principal
{
    width:100%;
    margin:0 auto;
    height: 450px;
    display:inline-block;
    vertical-align: top;
    position: relative;
}

.fader
{
    position: absolute; 
    left: 50px;
    width: 90%;
    height: 100%;
    margin: 0px auto;
    background-image: url(../imagenes/fader1/fader1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

#fader2
{
    z-index:2;
}

.checkea
{
    text-align: left;
    margin:10px 30px;
}

/*
.bolita
{
    border-radius: 10px;
    width: 17px;
    height: 17px;
    margin:0px 3px;
    position:relative;
    bottom:38px;
    left:140px;
    border:1px solid gray;
    float:left;
    cursor:pointer;
    background:linear-gradient(white,#999);
    display:block;
}
*/
#centro
{
    text-align: center;
    height:360px
}

.products
{
    width:250px;
    height: 250px;
    border-radius:8px;
    display: inline-block;
    box-shadow: 0px 25px 45px -35px black;
    background: linear-gradient(#cfcfcf,white);
    margin:30px;
    transition: all 0.2s;
}

.products:hover
{
    box-shadow: 0px 15px 35px -10px black;
    margin-top:25px;
    margin-bottom:35px;
}


.products:nth-of-type(2) 
{
    float: left;
}

.products:nth-of-type(4)
{
    float: right;
}

.products a
{
    height:100%;
    width:100%;
    display:block;
    text-align: center;
}

.products a:hover
{
    text-decoration: none;
}

.products img
{
    height:50%;
    width:50%;
    margin:30px;
}

.products p
{
    color:#333;
    font-size: 19px;
}

@media (max-width:1000px)
{
    .products
    {
        width:220px;
        height: 220px;
        margin:25px;
    }
    
    .products:hover
    {
        margin-top:20px;
        margin-bottom:30px;
    }
    
    #centro
    {
        height:330px
    }
    
    #principal
    {
        height: 410px;
    }
}

@media (max-width:900px)
{
    #principal
    {
        height: 380px;
    }
}